<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-color: lightgrey;">
    <button class="bg-indigo-400 ml-8 p-2 text-white hover:bg-indigo-500" onclick="window.location.href='/index'">Home</button>
    <div class="bg-white rounded-lg w-4/5 m-auto mt-5 p-5">
        <p class="text-2xl text-center font-bold">USER DETAILS</p><br>
        <div class="w-fit m-auto">
            <% result.forEach(function(result) { %>
    
            <div>Name - <%= result.name %></div>
            <div>Email - <%= result.email %></div>
            <div>City - <%= result.address %></div>
            <div>Phone - <%= result.mobile %></div>
            <div>Password - <%= result.password %></div>
                <% }) %>
                <br>
                <form action="/chngpass" method="post"><button class="text-blue-400" name="password" onclick="value=prompt('Enter New Password')">Change Password</button></form>
            </div>
        </div>
        <div class="w-fit m-auto mt-8">
            <form action="/delacc"  method="post">
                <button class='bg-red-400 hover:bg-red-500 p-2 text-white' name="delete" type="submit">Delete Account</button>
            </form>
        </div>
    </div>

</body>

</html>